@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@700&display=swap');

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #cccc;
}

/* Navbar */
.navbar {
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102, 0.5);
    display: block;
}

/* Button */
.navbar button {
    text-align: center;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 16px;
}

/* Link */
.navbar button a {
    background-color: rgb(50, 50, 50);
    /* Green */
    border: none;
    color: white;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 2vh;
}

/* Heading */
.col-1 h1 {
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102, 0.75);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    min-height: fit-content;
    color: white;
}

/* Container */
.container {
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102, 0.75);
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* Head1 */
.container .head .headings {
    width: auto;
    height: fit-content;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

/* Body Of Table */
.container .headings tbody {
    background-color: rgba(0, 0, 0, 0.75);
    color: #36c100;
    font-size: auto;
    white-space: pre-wrap;
    color: white;
}

/**/
.container {
    min-height: 100%;
    padding-top: 5vh;
    padding-bottom: 5vw;
}

.container .Info {
    display: block;
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102, 0.5);
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.container .Disclaimer {
    display: block;
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102, 0.5);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

/*Video*/
.container .video {
    display: block;
    margin: 0 auto;
    width: 50vw;
    height: 45vh;
}

/* Info */
.Instrustions {
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102, 0.5);
    text-align: center;
    width: 100%;
    font-size: 6vh;
    font-weight: 700;
    color: white;
}

/* Th */
.headings tr th {
    text-align: center;
    color: #ffffff;
}

/* Table Data */
.headings tr td {
    text-align: left;
}

/* Paragraph */
.fontBlock blockquote p {
    margin-top: -20px;
}

.container .date-202112323 {
    border-style: solid;
    border-color: white;
}

/* Footer */
#footer {
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102, 0.75);
    color: white;
}