:root {
  --twitch-bg: #252525;
  --twitch-color: #6441a5;
  --button-color: #333333;
  --background: #474747bf;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  background-color: var(--twitch-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-decoration: none !important;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #424242;
    padding: 0.5%;
    .nav {
      .logo {
        display: relative;
        text-decoration: none;
        .logo-1 {
          width: fit-content;
          font-size: 200%;
          color: var(--twitch-color);
          background-color: var(--button-color);
          border-radius: 0.5em;
          padding-bottom: 0.3%;
          padding-top: 0.3%;
          padding-right: 0.75%;
          padding-left: 0.75%;
        }
        .logo-2 {
          color: white;
        }
      }
    }
    .Tutorial {
      display: none;
      .tutorial {
        text-decoration: none;
        width: min-content;
        font-size: 1.5em;
        color: white;
        background-color: var(--button-color);
        border-style: none;
        border-radius: 0.5em;
        padding-bottom: 0.2em;
        padding-top: 0.15em;
        padding-right: 0.5em;
        padding-left: 0.5em;
      }
    }

    .Customize {
      display: inline-block;
      .customize {
        text-decoration: none;
        width: fit-content;
        font-size: 1.5em;
        color: white;
        background-color: var(--button-color);
        border-style: none;
        border-radius: 0.5em;
        padding-bottom: 0.2em;
        padding-top: 0.15em;
        padding-right: 0.5em;
        padding-left: 0.5em;
      }
    }
    .dropdown {
      padding-right: 2.5%;
      position: relative;
      float: right;
      .dropbtn {
        background: none;
        color: var(--twitch-bg);
        border: none;
        cursor: pointer;
        .menu {
          align-self: center;
          pointer-events: none;
          height: 3em;
          width: 3em;
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(0, 0, 0);
        background-color: #6441a5;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.493);
        z-index: 1;
        right: 0;
        .link {
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
      }
      .show {
        display: block;
      }
    }
  }
  .container {
    min-height: fit-content;
    height: 75%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    background-color: var(--background);
    margin-bottom: 5%;
    left: 0;
    right: 0;
    bottom: 10%;
    top: 0;
    .Instrustions {
      color: white;
      font-size: 1.2em;
      text-align: center;
    }
    .blocks {
      .headings {
        text-align: center;
        .heads {
          width: 100%;
          margin: auto;
          margin-top: 5%;
          color: var(--twitch-color);
          .css {
            margin-left: 5%;
            text-align: center;
            width: fit-content;
            display: inline-block;
            vertical-align: top;
            margin: 5%;
            margin-top: 0;
            .head {
              margin-top: 1%;
              font-size: 100%;
              font-weight: 700;
              border: solid white;
              background-color: #818181;
            }
            .cssBlock {
              color: white;
              background-color: #3a3a3ab4;
              height: fit-content;
              .CodeBlock1 {
                text-align: left;
                font-size: 100%;
                margin: 0;
                padding: 0;
              }
            }
          }
          .font {
            margin-left: 5%;
            text-align: center;
            width: fit-content;
            display: inline-block;
            vertical-align: top;
            margin: 5%;
            margin-top: 0;
            .head {
              margin-top: 1%;
              font-size: 100%;
              font-weight: 700;
              border: solid white;
              background-color: #818181;
            }
            .fontBlock {
              color: white;
              text-align: center;
              background-color: #3a3a3ab4;
              height: fit-content;
              .CodeBlock2 {
                font-size: 100%;
                margin: 0;
                padding: 0;
              }
            }
          }
          font-size: 1.5em;
        }
      }
      .abc {
        width: 100%;
        color: white;
        text-align: center;
      }
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    background-color: rgb(0, 0, 0);
    background-color: #474747bf;
    .foot {
      text-decoration: none;
      color: white;
    }
  }
}
